@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-tech-bg text-slate-100 font-sans antialiased selection:bg-tech-accent selection:text-tech-bg;
  }
}

/* Custom Minimal Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0d0e;
}
::-webkit-scrollbar-thumb {
  background: #1f2629;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #35514d;
}
